body{
    margin: 0;
}

header{
    height: 180px;
    background-color: dodgerblue;
    background-image: url(../img/pattern.png);
    color: white;
    font-family:'Times New Roman', Times, serif;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}


#the-booleaner{
    padding: 90px 0px ;   
}


#booleaner{ 
    font-size: 50px;
}